.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 32px; 
    /* border: solid green 2px; */
    }
    .inputSearch{
    width: 50%;
    height: 40px;
    padding-left: 15px;
    border: rgb(71, 88, 186) solid 3px;
    border-radius: 30px;
    font-family: 'M PLUS 1', sans-serif;
    }




    .card{
    border: solid black 2px !important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
     background-color: rgb(21, 33, 66) !important;
     width: 75% !important;
     min-height: 70vh !important;
     margin: 2rem !important;
     border-radius: 30px !important;
     object-fit: contain !important;
    }
    .imgCard{
    border-radius: 30px !important;
    width: 50% !important;
    height: 100%;
    object-fit: cover !important;
    overflow: hidden !important;
    border: 2px solid rgb(92, 124, 206);
    }
    
    .ContainerTxtCard{
    display: flex !important;
    width: 48% !important;
    height: 100%;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    padding: 8px 5px 4px 16px !important;
    }
    .ContainerTxtCard > p{
    color: rgb(255, 255, 255) !important;
    padding: 2px 0px !important;
    }
    
    .containerTitulo{
     display: flex !important;
     justify-content: center !important;
     width: 100% !important;
     margin: 0 !important;
     padding: 0 !important;
     /* border: white solid 2px; */
     /* background-color: rgb(40, 54, 94); */
        
    }
    .containerTitulo > h3{
    font-family: 'Lobster', cursive;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 28px !important;
    padding: 2px 0px !important;
    color: white !important;
    }

    .btnContainer{
    border: white solid 1px;
    border-radius: 30px;
    width: 100px;
    align-self: center;
    text-align: center;
    padding: 8px;
    }
    
    .btnContainer > h4{
    color: white !important;
    }

    .aviso{
        color: black;
    }
    .containerImgNot{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .imgNotFound{
        width: 400px;
        height: 280px;
        margin: 1rem 0rem;
    }




 @media screen and (max-width: 870px) {

.inputSearch{
    width: 50%;
    height: 20px;
    padding-left: 15px;
    border: rgb(71, 88, 186) solid 2px;
    border-radius: 30px;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 12px;
    }
    
.containerTitulo > h3{
  font-family: 'Lobster', cursive;
  font-size: 25px !important;
  padding: 12px 0px;
  color: white;
  text-shadow: 2px 2px 2px rgba(16, 1, 1, 0.864);
  }
  .card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    height: 80vh;
    
   }
   .card > img{
    border-radius: 1px;
    width: 100% !important;
    height: 50%;
    object-fit: cover;
    /* overflow: hidden; */
    }
    .ContainerTxtCard{
     display: flex;
     width: 100% !important;
     height: 50%;
     flex-direction: column;
     justify-content: space-evenly;

     /* padding: 5px;  */
     
        }

    .ContainerTxtCard > p{
     color: rgb(184, 184, 184);
     font-size: 13px !important;
     /* margin: 5px; */
     height: 45%;

     font-size: 10px;
    }

    .btnContainer{
        border: white solid 1px;
        border-radius: 30px;
        width: 100px;
        align-self: center;
        text-align: center;
        margin-bottom: 20px; 
        font-size: 15px;
        }
        
        .btnContainer > h4{
        color: white;
        

        }
  
  }

  @media screen and (max-width: 600px){
 .inputSearch{
  width: 50%;
  height: 20px;
  padding-left: 15px;
  border: rgb(71, 88, 186) solid 2px;
  border-radius: 30px;
  font-family: 'M PLUS 1', sans-serif;
  font-size: 7px;
  
  }
  .containerTitulo > h3{
   font-family: 'Lobster', cursive;
   font-size: 17px !important;
   padding: 12px 0px;
   color: white;
   text-shadow: 2px 2px 2px rgba(16, 1, 1, 0.864);
   }
 .ContainerTxtCard > p{
     color: rgb(184, 184, 184);
     margin: 3px;
     height: 45%;
     font-size: 10px !important;
    }
 .imgNotFound{
     width: 300px;
     height: 200px;
     margin: 1rem 0rem;
 }
 .btnContainer{
    border: white solid 1px;
    border-radius: 30px;
    width: 100px;
    align-self: center;
    text-align: center;
    padding: 4px;
    }

}