.containerCarousel{
  display: flex;
  flex-direction: column;
  border: rgb(94, 94, 94) solid 3px;
  /* background-color: rgba(3, 3, 29, 0.918); */
   background-color: rgba(10, 27, 63, 0.918); 

}
.titleCarousel{
  display: flex;
  width: 100%;
  height: 6rem;
}
.titleCarousel > h2{
  display: flex;
  font-family: 'Lobster', cursive !important;
  letter-spacing: 8px;
  justify-content: center;
  align-self: center;
  color: white;
  font-weight: 999;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-size: large;
  padding: 2rem 0rem;
  width: 100%;
  background-color: rgba(40, 61, 107, 0.918); 
  font-size: 30px !important;
}

.swiper {
  margin: 1.3rem;
  width:97%;
  height:75vh;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  display: flex;
  justify-content: center; 
  width: 95%;
  text-align: center;
  font-size: 18px;
  background: #fff !important;
  color: #fff;
  height: calc((100% - 33px) / 2) !important;
  background-color:transparent !important ;
}
.swiper-slide img{
  display: flex;
  width: 86%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  z-index: 99;
}
/* .swiper-slide img:hover{
  width: 100%;
  height: 100%; 
  position: absolute;
  z-index: 99; 
} */
.nombreImagen{
  display: flex;
  justify-content: end;
  padding-right: 16%;
  width: 100%;
  font-family: 'Lobster', cursive;
  align-self: flex-;
  text-shadow: 2px 4px 3px rgb(22, 18, 18);
  color: rgba(255, 255, 255, 0.856);
  font-size: 33px;
  /* background-color: rgba(45, 78, 185, 0.438); */
  z-index: 100;
}
.swiper-slide #eventName{
  margin: .5rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 14px;
}

/*  ---------- DROP   -   DROP     ---- */

@media screen and (max-width: 530px) {

  .titleCarousel > h2{
    font-size: 16px !important;
    letter-spacing: 7px;
  }

  .nombreImagen{
  font-size: 20px;
}
@media screen and (max-width: 430px) {

  .titleCarousel > h2{
    font-size: 13px !important;
    letter-spacing: 2px;
  }

  .nombreImagen{
  font-size: 15px;
}


}

}


