.card1{
    width: 70vw !important;
    height: 5vh !important;
    margin: 0rem !important;
    border-radius: 20px;
    background-color: rgb(21, 33, 66) !important;
    margin-bottom: 15px !important;
}
.cardComments{
    width: 50vw !important;
    min-height: 5vh !important;
    justify-self: center;
    /* min-height: fit-content !important;   */
    background-color: rgb(21, 33, 66) !important;
    height: 30vh !important; 
    margin-bottom: 25px !important;
}
.textComments{
    width: 100% !important;
    min-height: 8vh !important; 

}
.commentsArea{
    width: 100%;
    min-height: 7vh !important; 
    margin: 0 !important;
    padding: 0 !important;
}
.txt-dejanos{
    color:white;
    text-align:center;
    text-align:center;
}
.txt-area{
    height: 12vh !important;
}
.card-body{
    width: 100% !important;
    height: 15vh !important;
}
