.cardComments{
    width:100% !important;
    min-height: 5vh !important;
    min-height: fit-content !important;  
    background-color: white !important;
    
}
.card{
    width: 80% !important;
     height: 10vh !important;
     margin: 0rem !important;
}
.textComments{
    width: 100% !important;
    min-height: 8vh !important; 

}
.commentsArea{
    width: 100%;
    min-height: 5vh !important; 
    margin: 0 !important;
    padding: 0 !important;
}
.txt-dejanos{
    color:white;
    text-align:center;
    text-align:center;
}
.txt-area{
    height: 10vh !important;
}
.card-body{
    width: 100% !important;
}
