.globalFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    object-fit:scale-down;
    background-color: rgba(0, 0, 0, 0.589);
    border: rgb(94, 94, 94) solid 3px;
    height: 37vh;
    width: 100%;
}
.globalFooter > img{
    object-fit:cover;
    height: 37vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding-top: 2rem;
    height: auto;
    
}
.globalFooter > h2{
    color: white;
    font-size: 14px;
    align-self: center;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-bottom: 3rem;
}

.primerElemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.primerElemento > img{
    width: 150px;
    height: 110px;
    margin: 2rem;
    margin-bottom: 0;
}
.primerElemento > p{
    font-family: 'Lobster', cursive;
    color: rgb(209, 218, 230);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.socialMedia{
    color: white;
}
.socialMedia > h3{ 
    margin: 0px 0px 25px 15px;
    color: rgb(157, 128, 184);
}

.iconoMedia{
    width: 35px;
    height: 35px;
    padding-right: 20px;
}

.iconsMedia{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    border: solid rgba(0, 128, 0, 0) 2px;
}
.explore{
    display: flex;
    color: white;
    flex-direction: column;
    width: 200px;
    /* height: 400px; */
    /* border: white solid 2px; */
    height: 60%;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
}
.explore > a{
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
}
.explore > h3{
    margin-bottom: 14px;
    color: rgb(157, 128, 184);
}


/*   DROP   -- DROP   */

@media screen and (max-width: 530px) {
    .footerContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items:center; 
        height: 20vh;
    
    }
    .primerElemento > img{
        width: 90px;
        height: 70px;
        margin: 20px;
        margin-bottom: 0;
    }
    .primerElemento > p{
        font-family: 'Lobster', cursive;
        color: rgb(209, 218, 230);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-size: 0.6rem;
    }
    .socialMedia{
        color: white;
        margin-left: 2rem;
    }
    .socialMedia > h3{ 
        margin: 0px 0px 20px 7px;
        color: rgb(157, 128, 184);
        font-size: 0.9rem;
    }
    .iconoMedia{
        color: white;
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
    .iconsMedia{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .explore{
        display: flex;
        color: white;
        flex-direction: column;
        /* width: 100px; */
        height: 60%;
        justify-content: space-around;
        align-items: center;
        font-weight: 600;
        margin: 20px;
    }
    .explore > h3{
        font-size: 0.8rem;
    }
    .explore > a{
        font-size: 0.8rem;
    }
    .globalFooter > h2{
        font-size: 8px;
        align-self: center;
        font-weight: 400;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        margin-bottom: 0;
    }
    .iconsMedia{
        display: flex;
        justify-content: space-around;
        width: 5rem;
    }
    .socialMedia > h3{ 
        margin: 0px 0px 5px 15px;
        color: rgb(157, 128, 184);
    }
}