.video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 90vh;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba (0, 0, 0, 5);
    background-color: rgba(88, 66, 40, 0.425);
    border: rgb(94, 94, 94) solid 3px;
}
.containerBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: rgb(94, 94, 94) solid 3px; */
    width: 70%;

}
.containerBoton > p{
    color: white;
    font-weight: 600;
    font-size: 23px;
    margin: 2rem 0rem 0rem 0rem;
}
.containerBoton > a{
    color: white;
    margin: 1rem 0rem 4rem 0rem;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    background-color: rgb(21, 33, 66);
    border: solid 5px rgb(12, 22, 51);
}
.containerBoton > a:hover{
    background-color: rgb(208, 213, 226);
    color: rgb(14, 11, 68);
    box-shadow: black 1 1 1 1;
    font-weight: 700;
    letter-spacing: 2px;
    box-shadow: 9px 9px 15px rgb(14, 16, 27);
}
.video{
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -1;
    
}
.containerHeader{
    display: flex;
    width: 80%;
    height: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerHeader > img{
    justify-content: flex-start;
}
.imagenHeader{
    width: 200px;
    height: 150px;
    margin: 2rem;
    margin-bottom: 0;
}
.txtMytinerary{
    display: flex;
    margin-bottom: 2rem;
}
.txtMy{
    color: rgba(1, 16, 58, 0.89);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-shadow: 2px 3px 2px rgb(223, 210, 210);
    
}
.txtTinerary{
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}
.containerHeader > p{
    color: rgb(172, 166, 226);
    font-family: 'Lobster', cursive;
    font-size: 27px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}
.containerBoton{
    display: flex;
    flex-direction: column;
}
.containerBoton > p{
    margin-bottom: 0;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
/*   DROP   -- DROP      DROP   -- DROP   */

@media screen and (max-width: 450px) {
    .imagenHeader{
        width: 180px;
        height: 150px;
        margin: 3rem 0rem 0rem 0rem;
        margin-bottom: 0;
    }
    .txtMy{
        color: rgba(1, 16, 58, 0.89);
        font-size: 45px;
        
    }
    .txtTinerary{
        color: rgb(255, 255, 255);
        font-size: 45px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .containerHeader > p{
        color: rgb(172, 166, 226);
        font-size: 17px;
        text-align: center;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .containerBoton > p{
        color: transparent;
        height: 2px;
 
    }
}

