.logoPeque{
    width: 3rem;
    margin: 0.2rem 1rem 0.1rem 3rem;
  }

  .NavBar{
    background-color: rgb(21, 33, 66) !important; 
    
  }

  .link{
    text-decoration: none !important;
    color: white;
    font-weight: 800;
  }


