.mainContainerSignUp{
    display: flex;
}
.containerSignUp{ 
    margin-bottom: 26px;
    width: 45%;

}

.containerForm > form{
    width: 50%;
    border: solid blue 2px;
    padding: 1px;
}
.callToAction{
    width: 50%;
}
.form-group{
    padding: 1px;
    width: 75%;
}
.mt-3, .mt-5, .mb-5, h2{
    font-size: 22px !important;
}
.txtLast{
    font-size: 17px !important;
    padding: 1px !important;
    margin: 2px !important;
}
.divCallTo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgCallTo{
    justify-self: flex-start;
    margin: 20px 0px;
    height: 60%;
    width: 65%;
}
.divCallTo > h3 {
    font-family: 'Lobster', cursive;
    font-size: 46px;
    color: rgb(118, 118, 230);
    text-shadow: black 0px 1px ;
}
.divCallTo > h4 {
    font-size: 18px;
}
.linkLogin{
    padding: 13px 50px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #1746C7;
    font-weight: 800; 
    color: white !important;
}

@media screen and (max-width: 750px) {
    .imgCallTo{
        justify-self: flex-start;
        margin: 40px 0px;
        height: 35%;
        width: 30%;
    }
    .divCallTo > h3 {
        font-family: 'Lobster', cursive;
        font-size: 23px;
        color: rgb(118, 118, 230);
        text-shadow: black 0px 1px ;
    }
    .divCallTo > h4 {
        font-size: 12px;
    }
    .linkLogin{
        padding: 5px 30px;
        margin-top: 25px;
        text-decoration: none;
        border-radius: 10px;
        background-color: rgb(118, 118, 230);
        color: white !important;
    }
}
@media screen and (max-width: 650px) {
    .mainContainerSignUp{
        display: flex;
        flex-direction: column;
    }
    .containerSignUp{
        margin-bottom: 26px;
        width: 100%;
    }
    .imgCallTo{
        justify-self: flex-start;
        margin: 20px 0px;
        height: 45%;
        width: 50%;
    }
    .divCallTo > h3 {
        font-family: 'Lobster', cursive;
        font-size: 35px;
        color: rgb(118, 118, 230);
        text-shadow: black 0px 1px ;
    }
    .divCallTo > h4 {
        font-size: 23px;
    }
    .linkLogin{
        padding: 10px 40px;
        margin-top: 7px;
        text-decoration: none;
        border-radius: 10px;
        background-color: rgb(118, 118, 230);
        color: white !important;
        margin-bottom: 20px;
    }
}