.containerSignUp{
    margin-bottom: 26px;
}
.containerForm > form{
    width: 50%;
    border: solid blue 2px;
    padding: 1px;
}
.callToAction{
    width: 50%;
    border: solid blue 2px;
}
.form-group{
    padding: 1px;
    width: 75%;
}
.mt-3, .mt-5, .mb-5, h2{
    font-size: 22px !important;
}
.txtLast{
    font-size: 17px !important;
    padding: 1px !important;
    margin: 2px !important;
}