section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.buttonsocial{
	background-color: rgb(23, 70, 199);
	color: white;
	border-radius: 2px;
	padding: 11px;
	margin-bottom: 18px;
	justify-self: center;
}